@model Valtech_Task3_Ankh_Morpork_MVC_.Models.Beggars
@{
    ViewBag.Title = "Action";
    Layout = "~/Views/Shared/_GameProcessLayout.cshtml";
}

<h2>Action beggars</h2>
<div>You pay @Model.GiveMoney dollars to @Model.Name</div>
@Html.ActionLink("Next step", "Index", "GamePlay")