@model Valtech_Task3_Ankh_Morpork_MVC_.Models.ViewModels.GameEntitiesViewModel
@{
    ViewBag.Title = "Action";
}

<h2>Action beggars</h2>
<div>You pay @Model.Beggar.GiveMoney dollars to @Model.Beggar.Name</div>
@Html.ActionLink("Next step", "Index", "GamePlay")