@model Valtech_Task3_Ankh_Morpork_MVC_.Models.Beggars
@{
    Layout = "~/Views/Shared/_GameProcessLayout.cshtml";
}
<div class="gameplay-info-position">
    @if (Model.GiveMoney == 0)
    {
        <h2>You gave him beer!</h2>
        <img src="/img/BeggarsImages/12.jpg" height="250" alt="" />
        <br/>
    }
    else
    {
        <h2>You pay @Model.GiveMoney dollars to @Model.Name</h2>
    }
    <div class="authorization-variants">
        @Html.ActionLink("Next step", "Index", "GamePlay", null,new{@class="link-style"})
    </div>
</div>
