@model Valtech_Task3_Ankh_Morpork_MVC_.Models.Beggars
@{
    Layout = "~/Views/Shared/_GameProcessLayout.cshtml";
}
@if (Model.GiveMoney == 0)
    {
        <div>You gave him beer</div>
    }
    else
    {
        <h2>Action beggars</h2>
        <div>You pay @Model.GiveMoney dollars to @Model.Name</div>
    }
    @Html.ActionLink("Next step", "Index", "GamePlay")
