@using Microsoft.AspNet.Identity
@using Valtech_Task3_Ankh_Morpork_MVC_.Services
@model Valtech_Task3_Ankh_Morpork_MVC_.Models.Beggars
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_GameProcessLayout.cshtml";
}
<div>Index beggar</div>
<div>@Model.Name --- @Model.GiveMoney</div>

@Html.ActionLink("Yes", "AnswerYes", new { name = Model }, null)
@Html.ActionLink("No", "AnswerNo")