@model Valtech_Task3_Ankh_Morpork_MVC_.Models.Beggars
@{
    Layout = "~/Views/Shared/_GameProcessLayout.cshtml";
}
<div class="gameplay-info-position">
    @if (Model.GiveMoney == 0)
    {
        <h2>You meet man who like beer. Can you give to him it?</h2>
    }
    else
    {
        <h2>You meet beggar by name @Model.Name and he nee money in amount of @Model.GiveMoney . You give him?</h2>
    }
    <div>
        <img src="~/img/BeggarsImages/@(Model.ImageName)" height="250" alt=""/>
    </div>
    <div class="authorization-variants">
        @Html.ActionLink("Yes", "AnswerYes", new { name = Model }, new{@class="link-style"})
    </div>
    <div class="authorization-variants">
        @Html.ActionLink("No", "AnswerNo", null, new { @class = "link-style" })
    </div>
</div>


