@{
    Layout = "~/Views/Shared/_GameProcessLayout.cshtml";
}
<div class="gameplay-info-position">
    <div style="height: 80%;">
        <h2>Be careful, people from the thieves guild skillfully steal money!</h2>
    </div>
    <div style="height: 20%;">
        <div class="authorization-variants">
            @Html.ActionLink("Next step", "Index", "GamePlay", null, new { @class = "link-style" })
        </div>
    </div>
</div>
