@model Valtech_Task3_Ankh_Morpork_MVC_.Models.ViewModels.Player.EditPlayerViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm("Edit", "Player",FormMethod.Post))
{
    <div>
        @Html.ValidationMessage("ModelOnly");
    </div>
    <div>
        @Html.HiddenFor(id => id.Id);
    </div>
    <div>
        @Html.LabelFor(label => label.Name);
        @Html.TextBoxFor(name => name.Name);
    </div>
    <div>
        <input type="submit" value="Save" />
    </div>
}
