html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Gwendolyn', cursive;
    min-height: 100%;
    width: 100%;
    background-image: url(/img/ApplicationImages/home.jpg);
    background-position: center;
}

.link-style {
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    color: black;
}

.link-style:hover {
    text-decoration: none;
    color:saddlebrown;
}

.link-style-enter {
    width: 100px;
    color: rgb(0, 0, 0);
    float: left;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    outline: none;
    padding: 20px 16px;
    margin: -20px 20px 0 0;
}

.link-style-enter:hover {
    text-decoration: none;
    color: saddlebrown;
}
/*LayoutPage*/

.layout-header {
    width: 100%;
    height: 60px;
    background-image: url(/img/ApplicationImages/header.png);
}

.logo-position {
    float: left;
    padding-left: 20px;
    padding-top: 0;
    font-size: 25px;
}

.image-position {
    float: left;
    padding-left: 0;
}

.player-info {
    float: right;
    padding: 10px 30px 1px;
    font-size: 30px;
    color: black;
    text-align: center;
    font-weight: bold;
}

.button-exit {
    position: relative;
    top: -10px;
    height: 60px;
    color: white;
    background-color: black;
    border: none;
}

.button-exit:hover {
    color: black;
    background-color: saddlebrown;
}

.pub-status {
    position: relative;
    z-index: 1;
    top: 60px;
    right: -135px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.gameplay_bord {
    position: relative;
    top: 65px;
    left: -170px;
    width: 900px;
    height: 600px;
    background-image: url(/img/ApplicationImages/papirus2.png);
}

.pub-position {
    position: relative;
    top: -10px;
    right: 150px;
}
/*Index-Home*/

.regulations {
    color: black;
    width: 650px;
    height: 512px;
    margin: 50px auto;
    background-image: url(/img/ApplicationImages/papirus.png);
}

.regulations-title {
    padding: 10px 250px 0;
}

.regulations-info {
    padding: 50px 50px 0;
}

.regulations-info p {
    font-weight: bold;
    font-size: 19px;
}

.play-button-position {
    margin: -10px 300px 0;
    font-weight: bold;
    font-size: 50px;
}

.play-button {
    color: black;
}

.play-button:hover {
    text-decoration: none;
    color: saddlebrown;
}

/*Login-Register*/

.authorization-page {
    margin: 50px auto;
    width: 900px;
    height: 600px;
    font-size: 40px;
    background-image: url(/img/ApplicationImages/papirus2.png);
}

.authorization-page h1 {
    width: 60%;
    height: 10%;
    color: black;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
}

.text-danger {
    color: red;
}

.authorization-label {
    font-size: 50px;
}

.authorization-login {
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: right;
    background-color: #DDC18C;
    border: 1px solid black;
    border-radius: 20px;
}

.authorization-position {
    width: 100%;
    margin: 0 5%;
}

.authorization-button {
    padding: 0 345px;
    color: white;
    background-color: black;
}

.authorization-variants {
    float: left;
    margin-left: 200px;
}

/*Gameplay*/

.gameplay-info-position {
    width: 80%;
    height: 100%;
    padding-top: 20px;
    padding-left: 30px;
}

.gameplay-info-position h2 {
    font-weight: bold;
}

.button-for-assassin {
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: black;
    width: 210px;
    height: 35px;
    border: none;
    margin-top: 10px;
    border-radius: 20px; 
}

.button-for-assassin:hover {
    color: black;
    background-color: saddlebrown;
}

.assassins-list {
    float: left;
    width: 100px;
    margin-left: 45px;
    margin-right: 85px;
}

/*Players*/

.playerInfo {
    float: left;
    width: 33%;
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}

.somestyle {
    font-size: 30px;
    float: left;
}