@{
    Layout = "~/Views/Shared/_GameProcessLayout.cshtml";
}
<div class="gameplay-info-position">
    <h2>You are either very rich or very dumb, because giving up the only opportunity to get money in the game is stupid!</h2>
    <div class="authorization-variants">
        @Html.ActionLink("Next step", "Index", "GamePlay", null, new { @class = "link-style" })
    </div>
</div>

