@{
    ViewBag.Title = "Home Page";
}
@if (User.Identity.IsAuthenticated) 
{
    <p>Hello @User.Identity.Name</p>
    @Html.ActionLink("Play","Play","GamePlay");
    using (Html.BeginForm("Logout", "Account", FormMethod.Post))
    {
        <input type="submit" value="Exit"/>
    }
}
else
{
    @Html.ActionLink("Registration", "Register", "Account")
    @Html.ActionLink("Login","Login","Account")
}