@{
    ViewBag.Title = "Home Page";
}
@model Valtech_Task3_Ankh_Morpork_MVC_.Models.ViewModels.GameEntitiesViewModel
@if (User.Identity.IsAuthenticated) 
{
    <p>Hello @User.Identity.Name</p>
    @Html.ActionLink("Play","Index","GamePlay", new {model = Model}, null);
    using (Html.BeginForm("Logout", "Account", FormMethod.Post))
    {
        <input type="submit" value="Exit"/>
    }
}
else
{
    @Html.ActionLink("Registration", "Register", "Account")
    @Html.ActionLink("Login","Login","Account")
}