@model Valtech_Task3_Ankh_Morpork_MVC_.Models.Repository.AnkhMorporkRepository
@{
    ViewBag.Title = "Home Page";
}

<div>Hello Vlad</div>
@foreach (var a in Model.GetAssassinsEnumerable)
{
    <div>@a.Name</div>
}