@using Valtech_Task3_Ankh_Morpork_MVC_.Services

@{
    ViewBag.Title = "GameOver";
}
@if (GameController.MoneyChecker <= 0)
{
    <div>You out of money!</div>
}
else if (CurrentPlayerProcessor.CurrentPlayer.AmountOfBeer <= 1)
{
    <div>You try to give to the beggar the beer, but you haven't!</div>
}
else
{
    <div>You was killed!</div>
}
<h2>GameOver</h2>

