
@{
    Layout = "~/Views/Shared/_GameProcessLayout.cshtml";
}



    <h2>Index</h2>
    @using (Html.BeginForm("BuyBeer", "TheMendedDrumPub", FormMethod.Post))
    {
        <input type="number" name="beer" required="required" />
        <br />
        <input type="submit" name="Send" />
    }
    <a href='javascript:history.go(-1)'>Go Back to Previous Page</a>
