@{
    Layout = "~/Views/Shared/_GameProcessLayout.cshtml";
}
<div class="gameplay-info-position">
    <div style="height: 80%">
        <h2>Congratulations on your successful purchase. Come back soon my friend!</h2>
    </div>
    <div style="height: 20%">
        <div class="authorization-variants">
            @Html.ActionLink("Next step", "Index", "GamePlay", null, new { @class = "link-style" })
        </div>
    </div>
</div>

