@{
    Layout = "~/Views/Shared/_GameProcessLayout.cshtml";
}
<div class="gameplay-info-position">
    <h2>Congratulation, you buy beer!</h2>
    <div class="authorization-variants">
        @Html.ActionLink("Next step", "Index", "GamePlay",null, new {@class="link-style"})
    </div>
</div>

