@using Valtech_Task3_Ankh_Morpork_MVC_.Services

@{
    Layout = "~/Views/Shared/_GameProcessLayout.cshtml";
}
<div class="gameplay-info-position">
    <h2>To much beer man!</h2>
    @if (CurrentPlayerProcessor.CurrentPlayer.AmountOfBeer <= 1)
    {
        <h2>You can have only 2 beers! Now you have @CurrentPlayerProcessor.CurrentPlayer.AmountOfBeer pint(s) of beer</h2>
        <a href='javascript:history.go(-1)' class="link-style">Go to previous menu and choose another amount of beer!</a>
    }
    else
    {
        <a href='javascript:history.go(-2)' class="link-style">Go Back to the game coz you have max value of beer</a>
    }
</div>
