@{
    Layout = "~/Views/Shared/_GameProcessLayout.cshtml";
}
<div class="gameplay-info-position">
    <div style="height: 80%;">
        <h2>Enter the desired amount of money in range 4-45 AM$</h2>
    </div>
    <div style="height: 20%; margin-left: 300px; margin-top: -40px;">
        @using (Html.BeginForm("Action", "AssassinsGuild", FormMethod.Post))
        {
            <input type="number" name="money" required="required" class="authorization-login"/>
            <br/>
            <input type="submit" name="Send" class="button-for-assassin"/>
        }
    </div>
</div>