@{
    ViewBag.Title = "Action";
    Layout = "~/Views/Shared/_GameProcessLayout.cshtml";
}
<h2>Action assassin</h2>
@using (Html.BeginForm("Action", "AssassinsGuild", FormMethod.Post))
{
    <input type="number" name="money" required="required" />
    <br />
    <input type="submit" name="Send"/>
}