@{
    Layout = "~/Views/Shared/_GameProcessLayout.cshtml";
}
<div class="gameplay-info-position">
    <h2>Someone want's to kill you...take contract it will cost some money for you..you take?</h2>
    <div class="authorization-variants">
        @Html.ActionLink("Yes", "AnswerYes", null, new { @class = "link-style" })
    </div>
    <div class="authorization-variants">
        @Html.ActionLink("No", "AnswerNo", null, new { @class = "link-style" })
    </div>
</div>

