@{
    Layout = "~/Views/Shared/_GameProcessLayout.cshtml";
}
<h2>Someone want's to kill you...take contract it will cost some money for you..you take?</h2>
            @Html.ActionLink("Yes", "AnswerYes")
            @Html.ActionLink("No", "AnswerNo")

