@model Valtech_Task3_Ankh_Morpork_MVC_.Models.ViewModels.GameEntitiesViewModel
@{
    ViewBag.Title = "Index";
}
<div>@Model.CurrentPlayer.Money</div>
<h2>Someone want's to kill you...take contract it will cost some money for you..you take?</h2>

@Html.ActionLink("Yes", "AnswerYes", new { name = Model }, null)
@Html.ActionLink("No", "AnswerNo")

