@using Microsoft.AspNet.Identity
@using Valtech_Task3_Ankh_Morpork_MVC_.Services
@{
    ViewBag.Title = "Index";
}
<div>@CurrentPlayerProcessor.PlayerBalanceTextVariant(CurrentPlayerProcessor.GetCurrentPlayer(User.Identity.GetUserId()).Money)</div>
<h2>Someone want's to kill you...take contract it will cost some money for you..you take?</h2>

@Html.ActionLink("Yes", "AnswerYes")
@Html.ActionLink("No", "AnswerNo")

